:root {
	--mainColor: #051D3B;
	--titleFont: 21px;
	--bodyFont: 16px;
	--sidebarFont: 12px;

	--inputNormal: rgba(255, 255, 255, 0.16);
	--inputHover: rgba(255, 255, 255, 0.24);
	
	--iconHover: rgba(255, 255, 255, 0.08);
	--iconPressed: rgba(255, 255, 255, 0.16);
}

body {
	background-color: var(--mainColor);
	color: white;
	padding: 32px;
	font-size: var(--bodyFont);
}

.titulos {
	font-weight: bold;
}

/* HEADER */

.mainHeader .container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.containerLogo {
	width: 272px;
}

.logoAlura {
	width: 200px;
}

input {
	background-color: var(--inputNormal);
	border: none;
	border-radius: 8px;
	box-sizing: border-box;
	padding: 16px 14px;
	color: #FFF;
	font-size: var(--bodyFont);
}

input:hover {
	background-color: var(--inputHover);
}

#formSearch {
	height: 56px;
	width: 752px;
}

.containerAvatar {
	width: 272px;
	display: flex;
	justify-content: end;
	/* Faz com que o avatar fique sempre do lado direito da página */
}

.contextoAvatar {
	display: flex;
	align-items: center;
	padding: 12px;
}

.contextoAvatar:hover {
	background-color: var(--iconHover);
	border-radius: 8px;
	cursor: pointer;
}

.avatar {
	height: 32px;
	width: 32px;
	border-radius: 100%;
	margin-right: 8px;
}

/* MAIN */

main .container {
	display: flex;
	justify-content: space-between;
}

.menuLateralEsquerdo {
	background-color: #FFF;
	width: 100px;
	height: 100px;
	border: 1px solid #000;
	flex-grow: 1;
}

.editorCodigo {
	background-color: #FFF;
	width: 100px;
	height: 100px;
	border: 1px solid #000;
	flex-grow: 3;
}

.menuLateralDireito {
	background-color: #FFF;
	width: 100px;
	height: 100px;
	border: 1px solid #000;
	flex-grow: 1;
}