:root {
	--mainColor: #051D3B;
	--titleFont: 21px;
	--bodyFont: 16px;
	--sidebarFont: 12px;

	--inputNormal: rgba(255, 255, 255, 0.16);
	--inputHover: rgba(255, 255, 255, 0.24);
	
	--iconHover: rgba(255, 255, 255, 0.08);
	--iconPressed: rgba(255, 255, 255, 0.16);

	--filledNormalButton: #5081FB;
	--filledHoverPressedButton: #7BA4FC;
	--filledPressedButtonBorder: rgba(80, 129, 251, 0.72);
	--filledFocusButton: #96B9FD;
	
	--outlinedNormalButton: rgba(80, 129, 251, 0.08);
	--outlinedHoverPressedButton: rgba(80, 129, 251, 0.16);
	--outlinedPressedButtonBorder: rgba(80, 129, 251, 0.24);
	--outlinedFocusButton: rgba(80, 129, 251, 0.24);

	--fundoEditor: #6BD1FF;
}

body {
	background-color: var(--mainColor);
	color: white;
	padding: 32px;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: var(--bodyFont);
}

.titulos {
	font-weight: bold;	
}

.sidebarFont {
	font-size: var(--sidebarFont);
	text-transform: uppercase;
}

input {
	background-color: var(--inputNormal);
	border: none;
	border-radius: 8px;
	box-sizing: border-box;
	padding: 16px 14px;
	color: #FFF;
	font-size: var(--bodyFont);
}

input:hover {
	background-color: var(--inputHover);
}

.filledButton {
	background-color: var(--filledNormalButton);
	color: var(--mainColor);
}

.filledButton:hover {
	background-color: var(--filledHoverPressedButton);
	border: 4px solid var(--filledPressedButtonBorder);
}

.outlinedButton {
	background-color: var(--outlinedNormalButton);
}

.outlinedButton:hover {
	background-color: var(--outlinedHoverPressedButton);
	border: 4px solid var(--outlinedPressedButtonBorder);
}

/* HEADER */

.mainHeader .container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.containerLogo {
	width: 272px;
}

.logoAlura {
	width: 200px;
}

.formSearch {
	height: 56px;
	width: 752px;
}

#formSearch {
	width: 100%;
}

.containerAvatar {
	width: 272px;
	display: flex;
	justify-content: end;
	/* Faz com que o avatar fique sempre do lado direito da página */
}

.contextoAvatar {
	display: flex;
	align-items: center;
	padding: 12px;
}

.contextoAvatar:hover {
	background-color: var(--iconHover);
	border-radius: 8px;
	cursor: pointer;
}

.avatar {
	height: 32px;
	width: 32px;
	border-radius: 100%;
	margin-right: 8px;
}

/* MAIN */

main .container {
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
}

.menuLateralEsquerdo {
	width: 272px;
	height: 100px;
	margin-right: 10px;
}

.menuLateralEsquerdo section {
	display: flex;
	align-items: center;
	margin-top: 16px;
}

.icons {
	width: 48px;
	height: 48px;
	border-radius: 16px;
	margin-right: 16px;
	background-color: var(--outlinedNormalButton);
	display: flex;
	align-items: center;
	justify-content: center;
}

.icons:hover {
	background-color: var(--filledNormalButton);
	/* A ideia é de ficar com essa cor apenas se você estiver na página referente */
}

.editorCodigo {
	width: 752px;
	margin: 0 10px;
}

.fundoEditor {
	height: 366px;
	background-color: var(--fundoEditor);
	border-radius: 8px;
}

.menuLateralDireito {
	width: 272px;
	height: 100px;
	margin-left: 10px;
}